@import '../../styles/core/config.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  & > input {
    padding: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;

    &[type='checkbox'],
    &[type='radio'] {
      margin-right: auto;
      height: 100%;
      width: 20px;
    }
  }
}

.title {
  font-size: 20px;
}

.removeInputBtn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 0);
  background-color: red;
  border-radius: $border-radius;
  background-image: url('../../../assets/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center;
}
